
.nav-button {

    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-button:hover {
    background: linear-gradient(90deg, #dceeff 0%, #e8e6ff 100%);

}

.nav-button:hover svg {
    transform: scale(1.2);
    transition: 0.6;
}